# ---- 必填：基础 ----
URL=https://house.netis.com
SECRET_KEY=
UTILS_SECRET=
FORCE_HTTPS=true

# ---- 必填：数据库/缓存（与下方 compose 配套）----
POSTGRES_USER=sample-u
POSTGRES_PASSWORD=sample-p
POSTGRES_DB=sample-db
#DATABASE_URL=postgres://sample-u:sample-p@postgres:5432/sample-db
DATABASE_URL=postgres://sample-u:sample-p@postgres:5432/sample-db?sslmode=disable
REDIS_URL=redis://redis:6379

# ---- 登录方式：至少配置一种（通用 OIDC 示例）----
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_AUTH_URI=http://oidc.netis.com/realms/master/protocol/openid-connect/auth
OIDC_TOKEN_URI=http://oidc.netis.com/realms/master/protocol/openid-connect/token
OIDC_USERINFO_URI=http://oidc.netis.com/realms/master/protocol/openid-connect/userinfo
OIDC_SCOPES=openid profile email
OIDC_DISPLAY_NAME=Company SSO
# OIDC_DISABLE_REDIRECT=true
OIDC_LOGOUT_URI=http://oidc.netis.com/realms/master/protocol/openid-connect/logout

# LLM Configuration
LLM_API_KEY=
LLM_API_BASE_URL=http://v.netis.com.cn:13000/v1
LLM_MODEL_NAME=qwen-3-coder-480b
LLM_MODEL_NAME_AI_SEARCH=qwen3-30b-a3b-instruct


# 单个附件上传最大值（例如 500 MB）
FILE_STORAGE_UPLOAD_MAX_SIZE=524288000
# 文档导入（单文档/压缩包等）上限（例如 500 MB）
FILE_STORAGE_IMPORT_MAX_SIZE=524288000
# 工作区批量导入上限（例如 ~1.5 GB）
FILE_STORAGE_WORKSPACE_IMPORT_MAX_SIZE=1610612736
FILE_STORAGE=local
FILE_STORAGE_LOCAL_ROOT_DIR=/var/lib/outline/data


ALLOWED_PRIVATE_IP_ADDRESSES=172.16.103.100
TRANSCRIPTION_ENDPOINT=http://172.16.103.100:8000/transcribe
TRANSCRIPTION_DELETE_AUDIO_AFTER=false