# ---- 必填：基础 ----
URL=https://house.netis.com
SECRET_KEY=
UTILS_SECRET=
#FORCE_HTTPS=false

# ---- 必填：数据库/缓存（与下方 compose 配套）----
# Outline 应用连接串（供 outline 服务使用） user pass outline 请在发布时自行修改
#DATABASE_URL=postgres://user:pass@postgres:5432/outline
DATABASE_URL=postgres://user:pass@postgres:5432/outline?sslmode=disable
REDIS_URL=redis://redis:6379

# 统一管理 Postgres 容器的账号与库名（供 postgres 服务使用）
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=outline

# ---- 登录方式：至少配置一种（通用 OIDC 示例）----
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_AUTH_URI=http://oidc.netis.com/realms/master/protocol/openid-connect/auth
OIDC_TOKEN_URI=http://oidc.netis.com/realms/master/protocol/openid-connect/token
OIDC_USERINFO_URI=http://oidc.netis.com/realms/master/protocol/openid-connect/userinfo
OIDC_SCOPES=openid profile email
OIDC_DISPLAY_NAME=Company SSO
# OIDC_DISABLE_REDIRECT=true
OIDC_LOGOUT_URI=http://oidc.netis.com/realms/master/protocol/openid-connect/logout
